<left>
    <!-- 000002 -->
    <b> Workshop</b> <br>
    <img src="https://hitwebcounter.com/counter/counter.php?page=7920860&style=0038&nbdigits=9&type=page&initCount=0"
        title="Migrate" Alt="web counter" border="0" /></a> <br>
    <b> <a href="https://cloudjourney.awsstudygroup.com/">Cloud Journey</a></b> <br>
    <img src="https://hitwebcounter.com/counter/counter.php?page=7830807&style=0038&nbdigits=9&type=page&initCount=0"
        title="Total CLoud Journey" Alt="web counter" border="0" />

</left>
<left>
    <br>
    <br>
    <b>Last Updated</b><br>
    <i>
        <span id="lastUpdated" style="color:orange;"></span>
    </i>

    <script>
        // Lấy ngày hiện tại
        const today = new Date();
        // Định dạng dd-mm-yyyy
        const formattedDate = today.toLocaleDateString('en-GB');
        // Gán vào thẻ span
        document.getElementById('lastUpdated').textContent = formattedDate;
    </script>
</left>
<left>
    <br>
    <br>
    <b> Team </b> <br>

    <i> <a href="https://www.facebook.com/groups/660548818043427" style="color:orange">First Cloud Journey </a> <br>

    </i>
</left>
<!-- Place this tag in your head or just before your close body tag. -->
<script async defer src="https://buttons.github.io/buttons.js"></script>